
[httping_localhost]
    env.URL	http://pocketstudio.jp/
    env.COUNT	5
    env.connect_warning 400
    env.connect_critical 700
    env.processing_warning 400
    env.processing_critical 1000

[httping_blog]
    env.URL	http://pocketstudio.jp/log3/
    env.COUNT	5

[httping_node1]
    env.URL	http://node1.pocketstudio.net/
    env.COUNT	5
